<ion-content [fullscreen]="true">
  <div class="contenedor">
    <label class="ion-text-center">
      <h1 class="ion-padding-top">Productos</h1>
      <p>Álbumes 💙</p>
    </label>
  </div>
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <div class="ion-text-center">
    <ion-card *ngFor="let x of arregloProductos"> <!--let x of arregloProductos-->
      <img alt="" [src]="x.imagen" />
      <ion-card-header>
        <ion-card-title>{{x.nombre_artista}} - {{x.nombre_producto}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{x.precio | currency:'$':'symbol':'0.0-0'}}</p>
      </ion-card-content>
      <ion-button fill="clear" (click)="enviarDetalle(x)">Detalles</ion-button> <!-- enviar x -->
    </ion-card>
  </div>
  <div class="ion-padding-horizontal">
    <ion-button color="secondary" [routerLink]="['/home']">Volver</ion-button>
  </div>
</ion-content>