<ion-content [fullscreen]="true">
  <div class="contenedor">
    <label class="ion-text-center">
      <h1 class="ion-padding-top">Home</h1>
    </label>
  </div>
  <div class="ion-text-center">
    <label>
      <h2>Bienvenid@</h2>
      <p>a Blue Hour Store 💙</p>
    </label>
  </div>
  <div class="ion-padding">
    <label class="ion-text-justify">
      <h4>¿Quienes Somos?</h4>
      <p>Blue Hour Store es una tienda online que surge como respuesta a nuestras inquietudes y necesidades
        como fans, con el objetivo de facilitar el acceso y proveer una gran variedad de productos de tus artistas
        favoritos/as. </p>
    </label>
  </div>
  <div class="ion-padding">
    <label>
      <h4>Contactanos</h4>
      <p>bluehourstore@gmail.com</p>
      <h4>Envíos</h4>
      <p>Envíos a todo Chile a través de Starken</p>
    </label>
    <ion-button color="secondary" [routerLink]="['/productos']">Iniciar</ion-button>
  </div>
</ion-content>